

<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let movie of moviesData">
        <div class="card">
            <figure class="movieCard">
                <img 
                class="w-100"
                src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path || movie.poster_path}}" 
                alt="{{movie.title ||movie.original_title}}"
                title="{{movie.title ||movie.original_title}}">
                <figcaption>
                    <div class="info">
                        <div class="row">
                            <div class="col-10">
                                <h3 class="mb-0">
                                    {{movie.title ||movie.original_title}}
                                </h3>
                            </div>
                            <div class="col-2">
                                <span>
                                {{movie.vote_average}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="overview p-4">
                        <h5>
                            {{movie.title ||movie.original_title}}
                        </h5>
                        {{movie.overview}}
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
